<div class="col">
    <div class="row mt-4 mb-4 head-text-logo">
        <div class="logo">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="User Icon" style="height: 40px;">
        </div>
        <p>Project Management System</p>
    </div>
    
    <div class="row">
        <span class="mt-2"><button class="add-project-btn">+</button>Add Projects</span>
    </div>
</div>

<hr id="outline">

<div class="col card-holder">
    <div class="row justify-content-between mb-3 p-3">
        <span>PROJECT 1</span>
        <span class="circular border border-success d-flex align-items-center text-center">
            <span class="m-auto inner">40%</span>
        </span>
    </div>
    <div class="row justify-content-between mb-3 p-3">
        <span>PROJECT - 2</span>
        <span class="circular border border-success d-flex align-items-center text-center">
            <span class="m-auto inner">40%</span>
        </span>
    </div>
</div>